:root {
  --light-bg-color: #ffffff;
  --light-aside-color: #f7f7fa;
  --dark-bg-color: #23272e;
  --dark-aside-color: rgb(44, 48, 57);
  --default-gray: #f7f7fa;
  --default-blue: #f2f6fe;
  --border-color-gray: #ececf1;
  --border-color-blue: #6ea2e8;
  --txt-color: #525463;
  --title-txt-color: #2b2d36;
  --icon-color: #525463;
  --hover-txt-color: #2b2d36;
  --hover-icon-color: #2b2d36;
  --hover-side-bg-color: rgba(205, 206, 214, 0.24);
}

.Theme_Light {
  --bg-color: var(--light-bg-color);
  --aside-color: var(--light-aside-color);
}

.Theme_Dark {
  --bg-color: var(--dark-bg-color);
  --aside-color: var(--dark-aside-color);
}

.btn12345 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
