:root {
  --light-bg-color: #ffffff;
  --light-aside-color: #f7f7fa;
  --dark-bg-color: #23272e;
  --dark-aside-color: #2c3039;
}

.Theme_Light {
  --bg-color: var(--light-bg-color);
  --aside-color: var(--light-aside-color);
}

.Theme_Dark {
  --bg-color: var(--dark-bg-color);
  --aside-color: var(--dark-aside-color);
}

.btn12345 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
