@import 'pretendard/dist/web/variable/pretendardvariable.css';
@import "tailwindcss";
@tailwind utilities;


html,
body {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Pretendard', sans-serif;
  overflow-x: hidden;
}
